<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <h1>ABOUT PAGE</h1>
    <p>Robert "Bob" Belcher Jr. is a third-generation restaurateur. Bob runs Bob's Burgers with the help of his wife, Linda Belcher, and their three kids, Tina Belcher, Louise Belcher, and Gene Belcher.

        While poor with business management and cursed with an unlucky streak, his experience and skill in homemade cuisine has helped his restaurant stay afloat, in spite of seemingly constant financial uncertainty, providing for his family all the while.</p>

        <a href="/home">Home Page</a>
        <a href="/works">Works Page</a>
</body>
</html>