<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <h1>WORKS PAGE</h1>
    <p>“All right, listen. You're my children and I love you. But you're all terrible at what you do here, and I feel like I should tell you, I'd fire all of you if I could.”</p>

    <p>“Are we just going to ignore the fact that Louise just pooped in the pool?”</p>

    <p>“Lin, they're anuses. I'm trying to think of worse paintings to hang in a restaurant. Um, nope, I can't think of any!”</p>

    <p>“Okay. Are you telling me as my daughter or as my grill cook? Because my grill cook would never tell me that. Also, my daughter should probably not say anything like that to me. Tell her, tell your mom.”</p>

    <p>“Listen, what happened to Hawk and Chick will never happen to us. This Hawk and this Chick will never not talk for 30 years.”</p>

    <a href="/about">About Page</a>
    <a href="/home">Home Page</a>
</body>
</html>